@font-face {
    font-family: 'Inter-regular';
    src: url('../fonts/Inter18pt-Regular.eot');
    src: url('../fonts/Inter18pt-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter18pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter18pt-Regular.woff') format('woff'),
        url('../fonts/Inter18pt-Regular.ttf') format('truetype'),
        url('../fonts/Inter18pt-Regular.svg#Inter18pt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-medium';
    src: url('../fonts/Inter24pt-Medium.eot');
    src: url('../fonts/Inter24pt-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter24pt-Medium.woff2') format('woff2'),
        url('../fonts/Inter24pt-Medium.woff') format('woff'),
        url('../fonts/Inter24pt-Medium.ttf') format('truetype'),
        url('../fonts/Inter24pt-Medium.svg#Inter24pt-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-semibold';
    src: url('../fonts/Inter28pt-SemiBold.eot');
    src: url('../fonts/Inter28pt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter28pt-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter28pt-SemiBold.woff') format('woff'),
        url('../fonts/Inter28pt-SemiBold.ttf') format('truetype'),
        url('../fonts/Inter28pt-SemiBold.svg#Inter28pt-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cabin-semibold';
    src: url('../fonts/CabinCondensed-SemiBold.eot');
    src: url('../fonts/CabinCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CabinCondensed-SemiBold.woff2') format('woff2'),
        url('../fonts/CabinCondensed-SemiBold.woff') format('woff'),
        url('../fonts/CabinCondensed-SemiBold.ttf') format('truetype'),
        url('../fonts/CabinCondensed-SemiBold.svg#CabinCondensed-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-bold';
    src: url('../fonts/Poppins-Bold.eot');
    src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.ttf') format('truetype'),
        url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fonts/Poppins-SemiBold.eot');
    src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



