.header{
    width:1220px;
    height: 65px;
    margin: 53px auto 136px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    gap: 30px;  
    margin-left: 220px;
    vertical-align: middle;
  

}
.nav-a{
    color: #37393F;
    font-size: 18px;
    font-family: 'Inter-regular';
}

.button{
    padding: 21px 35px 22px;
    font-size: 18px;
    background-color: #6B77E5;
    color: #FFFFFF;
    border: none;
    vertical-align: middle;
    cursor: pointer;
    font-family: 'Cabin-semibold';
}
.logo{
    vertical-align: middle;
}
.fa-solid{
    font-size: 15px;
}
.mini-title{
    text-align: center;
    font-size: 18px;
    margin-bottom: 16px;
    font-family: 'Inter-medium';
    color: #37393F;
}
.title{
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins-bold';
    color: #37393F;
}
.grey-maindiv{
    width: 1220px;
    height: 383px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 41px auto 60px;
}
.grey-box{
    width: 386px;
    height: 383px;
    background-color: #F4F4F4;
}
.circle{
    width: 72px;
    height: 72px;
    background-color: #40DDB6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.purple{
    background-color: #6B77E5;
}
.box-title{
    text-align: center;
    margin: 58px auto 16px;
    font-size: 25px;
    font-family: 'Poppins-semibold';
    color: #37393F;
}
.box-paragraph{
    text-align: center;
    width: 300px;   
    margin: 0 auto 37px;
    font-size: 18px;
    font-family: 'Inter-regular';
    color: #7D7D7D;
}
.box-mini-title{
    color: #6B77E5 ;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Inter-semibold';
    font-size: 18px;
}
.center{
    font-size: 35px;
}
.shortvideo-div{
    width: 100%;
    height: 557px;
    position: relative;
    display: inline-block;
    margin-bottom: 130px;
}
.rectangle{
    width: 100%;
    height: 557px;
    display: block;
}
.video-content{
    position: absolute;
    width: 511px;
    height:270.5px;
    top: 143px;
    left: 50%;
    transform: translateX(-50%);
    margin:0 auto;
    text-align: center;
}
.small-circle{
    height: 63px;
    width: 63px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.play{
    font-size: 35px;
}
.video-minititle{
    margin-bottom: 16px;
    font-family: 'Inter-medium';
    color: #37393F;
}
.video-title{
    margin-bottom: 21px;
    font-size: 40px;
    font-family: 'Poppins-bold';
     color: #37393F;
}
.video-paragraph{
    margin-bottom: 47px;
    font-family: 'Inter-regular';
    color: #37393F;
}
.photo-div{
    width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 131px;
}
.white-block{
    width: 341px;
    height: 114px;
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 396px;
    left: 22px;

}
.expert-photo{
    position: relative;
    z-index: 0;
}
.team{
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Inter-medium';
    color: #37393F;
    font-size: 18px;
}
.experts-div{
    text-align: center;
    margin-bottom: 41px;
    font-family: 'Poppins-bold';
    font-size: 40px;
}
.expert-name{
    text-align: center;
    margin:24px 0 4px 0;
    font-family: 'Poppins-semibold';
    color: #37393F;    
}
.whiteblock-paragraph{
    text-align: center;
    font-family: 'Inter-regular';
    color: #7D7D7D;
}

